# Data handling (excel-like) with [Pandas](https://pandas.pydata.org/pandas-docs/stable/) and [Numpy](https://numpy.org/)

## Import the libraries
Similar to **import math** from last session

### Tips:
* Using import pandas **as** pd lets us abbreviate the library name
* We can call pd.DataFrame() instead of pandas.DataFrame()

In [ ]:
import pandas as pd
import numpy as np

### Let's try loading data from an Excel file

In [ ]:
data = pd.read_excel('CRC_sample_data.xlsx', sheet_name = 'expression', index_col = 0)
data.head()

### If you encounter an error message:
**ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd**
  
Then, follow the instruction to install missing library with this command template

**!pip install _missing-lib-name_**

In [ ]:
# !pip install xlrd openpyxl

## Some more data structures (in addition to list)
1. tuple
2. dictionary
3. (numpy) array
4. (pandas) DataFrame and Series

## Tuple
#### List versus tuple
Notice the different parenthesis styles

In [ ]:
a_list = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6]
a_tuple = (0.1, 0.2, 0.3, 0.4, 0.5, 0.6)

print(a_list)
print(a_tuple)

#### Tuple is immutable
You will get a TypeError

In [ ]:
a_list[0] = 5
print(a_list)

a_tuple[0] = 5
print(a_tuple)

### So why do we need tuple?

## Dictionary
A mapping from **key** to **value**

#### Actually, list and tuple are also mappings from 0, 1, 2, ... to values

In [ ]:
a_dict = {'phone':'081-000-0180', 
          'email':['abc@gmail.com', 'ab.c@chula.ac.th'],
          'age':46}

print('phone number:', a_dict['phone'])
print('emails:', a_dict['email'])
print('age:', a_dict['age'])

#### Mapped value can be re-assigned

In [ ]:
a_dict['email'] = ['ab.c@hotmail.com']
print(a_dict)

#### New entries can be added

In [ ]:
a_dict['position'] = 'dean'
print(a_dict)

#### The values can be anything, the key must be an immutable type
Otherwise, the key may not remain the same

In [ ]:
my_key = (0, 'test') ## using tuple as key
my_val = 'hello world'
a_dict[my_key] = my_val
print(a_dict[my_key])

#################################
my_key = [0, 'test'] ## using list as key
a_dict[my_key] = my_val
print(a_dict[my_key])

### For can iterate over dictionary
By default, it will iterate over the **keys**

In [ ]:
for key in a_dict:
    print(key, a_dict[key])

In [ ]:
for val in a_dict.values():
    print(val)

## (numpy) Array
Look similar to list but with many different behaviors

In [ ]:
a_list = [9, 4, 21, 5]
a_array = np.array(a_list)

print(a_list)
print(a_array)

print(a_list[3])
print(a_array[3])

print(a_list[:2])
print(a_array[:2])

#### list.index() does not work on array

In [ ]:
print(a_list.index(21))
print(a_array.index(21))

#### But elements in array can be accessed more freely

In [ ]:
indices = [0, 1, 3]
print(a_array[indices])
print(a_list[indices])

#### And mathematical operation can be performed more easily with array

In [ ]:
print(a_array / 2)
print([x / 2 for x in a_list])

### Some practical differences between list and array

In [ ]:
list_age = [18, 47, 12, 8, 4, 65, 17, 34, 77]
list_name = ['Alice', 'Bob', 'Clare', 'Don', 'Eric', 'Fei', 'Gabriel', 'Henry', 'Ivan']

array_age = np.array([18, 47, 12, 8, 4, 65, 17, 34, 77])
array_name = np.array(['Alice', 'Bob', 'Clare', 'Don', 'Eric', 'Fei', 'Gabriel', 'Henry', 'Ivan'])

#### Finding Don's age

In [ ]:
print('Don\'s age:', list_age[list_name.index('Don')])
print('Don\'s age:', array_age[array_name == 'Don'])

#### Selecting all patients younger than 10

In [ ]:
print('young patients:', [list_name[i] for i in range(len(list_name)) if list_age[i] < 10])
print('young patients:', array_name[array_age < 10])

## Multidimensional list and array

In [ ]:
b_list = [[0, 1], [1, 0]]
print(b_list)

b_array = np.array([[0, 1], [1, 0]])
print(b_array)

In [ ]:
print('first row:', b_list[0])
print('first row:', b_array[0])

print('first row, second element:', b_list[0][1])
print('first row, second element:', b_array[0][1])

#### len() can only count the number of rows

In [ ]:
print(len(b_list))
print(len(b_array))

#### array.shape return all dimensions together

In [ ]:
print(b_array.shape)

#### Array check the consistency of the number of columns

In [ ]:
b_list = [[0, 1], [1, 0, 0]]
print(b_list)

b_array = np.array([[0, 1], [1, 0, 0]])
print(b_array)

#### Initializing a multidimensional array

In [ ]:
b_array = np.zeros([5, 5])
print(b_array)

In [ ]:
b_array = np.ones([5, 5])
print(b_array)

#### Element in a multidimensional array can be accessed in two ways

In [ ]:
print(b_array[0][1])
print(b_array[0, 1])

## (pandas) DataFrame and Series
Let's reload the demo data from excel with **pd.read_excel()**

### Tips:
* For tab- or comma-separated files (.txt, .tsv, or .csv), use **pd.read_csv()**
* For excel file with multiple sheets, specify the **sheet_name** parameter
* **index_col** specify the column that should be used as the row index
* **header** specify the row that should be used as the column header

#### The read result is a DataFrame
**head()** is used to preview the top rows of the DataFrame

In [ ]:
data = pd.read_excel('CRC_sample_data.xlsx', sheet_name = 'expression', 
                     index_col = 0, header = 0)
data.head(2)

**tail()** shows the bottom rows of the data frame

In [ ]:
data.tail(3)

### Pandas automatically determine the appropriate data types for each column
We can check data types with the built-in **DataFrame.dtypes**

In [ ]:
data.dtypes

#### View the dimension of the data with DataFrame.shape
Like array

In [ ]:
data.shape

### DataFrame is a multidimensional array with row indices and column headers
* DataFrame.index
* DataFrame.columns

In [ ]:
data.index

In [ ]:
data.columns

### Basic summary statistics for DataFrame
* DataFrame.describe()
* DataFrame.mean(axis = 0)
* DataFrame.std(axis = 0)
#### Notice how the CMS column is ignored automatically

In [ ]:
data.describe()

In [ ]:
data.mean(axis = 0).head(2)

In [ ]:
data.std(axis = 1).head(2)

### Basic statistics for categorical columns
* DataFrame.nunique()
* DataFrame.value_counts()

In [ ]:
print('number of distinct elements:', data['CMS'].nunique())
print('---------------------')
print(data['CMS'].value_counts())

#### We can get the unique elements with pd.unique()

In [ ]:
pd.unique(data['CMS'])

## Standardizing the DataFrame
What is standardization?

In [ ]:
data_std = (data - data.mean()) / data.std()
data_std.head(2)

### Ouch, we don't want to standardize the CMS columns
Use DataFrame.drop()

In [ ]:
data_no_cms = data_std.drop('CMS', axis = 1)
data_no_cms.head(2)

## How to access rows, columns, and specific cells?
* DataFrame[A]
* DataFrame.loc[A, B]
* DataFrame.iloc[a, b]

#### DataFrame[headers] return a Series or a DataFrame
A Series is a one-dimensional DataFrame

In [ ]:
data['AGR2'].head(2)

In [ ]:
data[['AGR2', 'ASCL2']].head(2)

#### DataFrame.loc[A, B] lets us specific the row indices and column headers
The output follows the ordering in A and B

**:** can be used to select everything

In [ ]:
print(data.loc['Patient3', 'AGR2'])
print('---------------------')
print(data.loc['Patient3', ['GFPT2', 'FAP']])
print('---------------------')
print(data.loc[['Patient3', 'Patient2'], ['GFPT2', 'FAP']])
print('---------------------')
print(data.loc['Patient3', :])

#### DataFrame.iloc[a, b] lets us specific the locations by 0, 1, ... indices

In [ ]:
print(data.iloc[[0, 2], [-1, -3]])

#### Combination of access forms

In [ ]:
print(data['FAP'].iloc[[0, 1]])

In [ ]:
print(data['FAP'].loc[data['FAP'] < 5])

## Access with conditions (a list of booleans)
* data.loc[[True, False, ..., True], [True, False, ..., True]]

In [ ]:
data.loc[data['CMS'] == 'CMS3', ['FAP', 'SLC5A6', 'CMS']].head(5)

In [ ]:
data.loc[data['DUSP4'] > 7, ['DUSP4', 'CMS']].head(5)

### Accessing by condition lets us do subpopulation-specific calculations

In [ ]:
print('average DUSP4 expression in CMS1 is', data.loc[data['CMS'] == 'CMS1', 'DUSP4'].mean())
print('average DUSP4 expression in CMS2 is', data.loc[data['CMS'] == 'CMS2', 'DUSP4'].mean())
print('average DUSP4 expression in CMS3 is', data.loc[data['CMS'] == 'CMS3', 'DUSP4'].mean())

## Combining multiple conditions
Instead of **and**, **or**, **not**, we need to use &, |, ~

In [ ]:
data.loc[(data['CMS'] == 'CMS1') | (data['CMS'] == 'CMS2'), :].shape

In [ ]:
data.loc[(data['CMS'] == 'CMS3') & (data['FAP'] < 6), ['FAP', 'SLC5A6', 'CMS']].head(5)

In [ ]:
data.loc[~(data['CMS'] == 'CMS1') & (data['FAP'] < 6), ['FAP', 'SLC5A6', 'CMS']].head(5)

### Selection for categorical feature with Series.isin()

In [ ]:
data.loc[(data['CMS'] == 'CMS1') | (data['CMS'] == 'CMS2'), :].shape

In [ ]:
data.loc[data['CMS'].isin(['CMS1', 'CMS2']), :].shape

## Load a different sheet from an excel file

In [ ]:
mutation_data = pd.read_excel('CRC_sample_data.xlsx', sheet_name = 'mutation', header = 0, index_col = 0)
mutation_data.head(5)

## Select non-missing values is pd.isna()

In [ ]:
mutation_data.loc[~pd.isna(mutation_data['KRAS']), :].head(2)

#### Broadcasting this selection to the gene expression data

In [ ]:
data.loc[~pd.isna(mutation_data['KRAS']), :].head(2)

## Merging two DataFrames with pd.concat()
Designate the joining direction with **axis** and how common or distinct entries should be handled with **join**
* inner = intersection of entires
* outer = union of entires

In [ ]:
merged = pd.concat([data, mutation_data], axis = 1, join = 'inner')
print(merged.shape)
merged.head(2)

In [ ]:
merged = pd.concat([data, mutation_data], axis = 0, join = 'inner')
print(merged.shape)
merged.head(2)

In [ ]:
merged = pd.concat([data, mutation_data], axis = 0, join = 'outer')
print(merged.shape)
merged.head(2)

## Copying data frame
Like list and other objects, using *=* assignment for DataFrame makes the variables linked

#### Use DataFrame.copy() to get an independent copy

In [ ]:
new_data = data.copy()
new_data.loc['Patient1', :] = -5
new_data.head(2)

Original data remain unchanged

In [ ]:
data.head(2)

## Adding new column or row
By default, DataFrame[A] refers to column first

In [ ]:
new_data['FAP x SLC5A6'] = new_data['TSPAN6'] * new_data['SLC5A6']
new_data.head(2)

In [ ]:
new_data.loc['NewPatient'] = 0
new_data.tail(2)

In [ ]:
new_data[['NewGene1', 'NewGene2']] = -1
new_data.head(2)

## Save DataFrame to file
Similar to **read_excel()** and **read_csv()**, we have **to_excel()** and **to_csv()**

In [ ]:
new_data.to_excel('new_dataframe.xlsx')
new_data.to_csv('new_dataframe.csv', sep = ',')
new_data.to_tsv('new_dataframe.tsv', sep = '\t')

## For iterates over data in a DataFrame

In [ ]:
for column in data.columns[:-1]:
    print(column, data[column].mean())

In [ ]:
for i in range(5):
    print('Patient', i, 'FAP =', data.iloc[i, 0], 'SLC5A6 =', data.iloc[i, 1])